<h1>Form</h1>

<div class="center">
  <form class="column" action="">
    <label for="">Name:</label>
    <input [(ngModel)]="model.name" type="text" id="name" name="name" required placeholder="name">
    <br>
    <label for="">Age:</label>
    <input [(ngModel)]="model.name" type="text" id="age" name="age" required placeholder="age">
    <br>
    <label for="role">Role:</label>
    <select name="role" id="role" [(ngModel)]="model.role" placeholder="role">
      <option *ngFor="let role of roles" value="role">{{role}}</option>
    </select>
    <button type="submit">submit</button>
  </form>
</div>
