<h1>
  <a rel="noopener"
    href="https://blog.angular-university.io/introduction-to-angular-2-forms-template-driven-vs-model-driven/"
    target="_blank">Template-driven
    forms
  </a> - подход, в котором ключевую роль играет шаблон компонента, и
  всё описание
  производиться в
  нём
</h1>
<hr>
<div class="center">
  <form class="column" action="">
    <div>
      <label for="">Name:</label>
      <span *ngIf="name.invalid && name.dirty || name.touched">
        <span *ngIf="name.errors?.['required']" class="required">name required</span>
        <span *ngIf="name.errors?.['minlength']" class="required">min length 3 symbol</span>
      </span>
    </div>
    <input #name="ngModel" [(ngModel)]="model.name" type="text" id="name" name="name" minlength="3" maxlength="10"
      required placeholder="name">
    <br>
    <div>
      <label for="">Age:</label>
      <span *ngIf="age.invalid && age.dirty" class="required">age required</span>
    </div>
    <input #age="ngModel" [(ngModel)]="model.age" type="number" id="age" name="age" required placeholder="age">
    <br>
    <label for="role">Role:</label>
    <select name="role" id="role" [(ngModel)]="model.role">
      <option disabled>Choose a role</option>
      <option *ngFor="let role of roles" [value]="role">{{role}}</option>
    </select>
    <br>
    <p>{{this.model|json}}</p>
    <button type="submit">submit</button>
  </form>
</div>
