form {
  padding: 2rem;
}

input, select {
  margin: 1rem;
}

button {
  margin-top: 3rem;
  padding: 1rem;
  border: none;
  box-shadow: 0 0 10px 0 red;
  border-radius: 1rem;
}

.column {
  width: 20rem;
  display: flex;
  flex-direction: column;
}

.ng-valid {
  border: solid 1px green;
}

form .ng-invalid {
  border: solid 1px red;
}
